#adminHome main{
	background: #f3f4f6;
	grid-area: main;
	overflow-y: auto;
}

#adminHome .main__container{
	padding: 20px 35px;
}

#adminHome .main__title{
	display: flex;
	align-items: center;
}

#adminHome .main__title > img{
	max-height: 100px;
	object-fit: contain;
	margin-right: 20px;

}

#adminHome .main__greeting > h1{
	font-size: 24px;
	color: #2e4a66;
	margin-bottom: 5px;
}

#adminHome .main__greeting > p{
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}

#adminHome .main__cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	margin: 20px 0;
}

#adminHome .card{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 120px;
	padding: 25px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
#adminHome .card i{
	font-size: 30px;
}
#adminHome .card__inner{
	font-size: 25px;
}
#adminHome .charts{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-top: 50px;
}
#adminHome .charts__left{
	padding: 25px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
#adminHome .charts__left__title{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#adminHome .charts__left__title > div > h1{
	font-size: 24px;
	color: #2e4e66;
}
#adminHome .charts__left__title > div > p{
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}
#adminHome .charts__left__title > i{
	color: #ffffff;
	font-size: 20px;
	background: #ffc100;
	border-radius: 200px 0px 200px 200px;
	-moz-border-radius:200px 0 200px 200px;
	-webkit-border-radius:200px 0 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
}


#adminHome .charts__right{
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
#adminHome .charts__right__title{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#adminHome .charts__right__title > div > h1{
	font-size: 24px;
	color: #2e4e66;
	margin-bottom: 5px;
}
#adminHome .charts__right__title > div > p{
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}
#adminHome .charts__right__title > i{
	color: #ffffff;
	font-size: 20px;
	background: #39447a;
	border-radius: 200px 0px 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
}

#adminHome .charts__right__cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
	margin-top: 30px;
}
#adminHome .card1{
	background: #d1ecf1;
	color: #35a4ba;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}
#adminHome .card2{
	background: #d2f9ee;
	color: #381e1b;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}
#adminHome .card3{
	background: #d6d8d9;
	color: #3a3e41;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}
#adminHome .card4{
	background: #fddcdf;
	color: #f65a6f;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

@media only screen and (max-width:855px){
	.main__cards{
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 0;
	}
	.charts{
		grid-template-columns: 1fr;
		margin-top: 30px;
	}
}